<% 10.times do |i| %>
  <div class="timespan" id="<%= display_day(date) %>">
    <div class="span">
      <h3><%=  local_relative_time(Time.now + "#{i}.day") %></h3>
    </div>
    <%= render partial: 'meetings/meeting', locals { i: i } %>
  </div>
<% end %>
