<% grouped_meetings.each do |date, meetings| %>
  <% if meetings.length > 0 %>
    <div class="separator">
      <h3>
        <div class="count pull-left">
          <%= pluralize(meetings.length, 'meeting') %>
        </div>
        <div class="date pull-right">
          <%= local_date(date, '%e %b') %>
        </div>
      </h3>
    </div>
    <section class="meetings">
      <%= render partial: 'meetings/meeting', collection: meetings %>
    </section>
  <% end %>
<% end %>
