<div class="timeline-container center top-circle">
  <section class="timeline">
    <%= render partial: 'meetings/meetings' %>
  </section>
  <div class="no-content">
    <h3>No meetings</h3>
  </div>
</div>
