/*
  Module: Header
*/

.header{
  position: relative;
  height: 60px;
  width: 100%;
  padding: 20px 0;
  z-index: 800;
  .container-fluid {
    flex-wrap: wrap;
    display: flex;
  }
  a {
    color: #3e576b;
  }
  .logo {
    flex: 1 0 33.333%;
    box-sizing: border-box;
  }
  .brand {
    max-width: 120px;
    width: 100px;
    path {
      fill: #3e576b;
    }
  }

  .brand-description {
    flex: 1 0 33.333%;
    box-sizing: border-box;
    padding-top: 10px;
    text-align: center;
    h3 {
      color: #3e576b;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  .filters {
    flex: 1 0 33.333%;
    box-sizing: border-box;
    text-align: right;
    ul {
      li {
        display: inline-block;
        margin-right: 10px;
        font-size: 14px;
        a {
            text-decoration: none;
            color: #3e576b;
            &.active {
              font-weight: bold;
              border-bottom: 1px solid #3e576b;
              padding-bottom: 3px;
            }
        }
      }
    }
  }

  @media (max-width: 800px) {
    .logo {
      flex: 1 0 20%;
    }
    .brand-description {
      h3 {
        color: #3e576b;
      }
    }
    .filters {
      ul {
        li {
          a {
            text-decoration: none;
            color: #3e576b;
            &.active {
              border-bottom: 1px solid #3e576b;
            }
          }
        }
      }
    }
  }
  @media (max-width: 620px) {
    .logo {
      flex: 1 0 100%;
      .brand {
        margin: 0 auto;
      }
    }
    .brand-description {
      flex: 1 0 100%;
      text-align: center;
      h3 {
        color: #3e576b;
      }
    }
    .filters {
      flex: 1 0 100%;
      text-align: center;
    }
  }
}
